{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "S3 object keys",
  "States": {
    "Remove Stale Run": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "EXPRESS"
        },
        "StartAt": "DeleteObject",
        "States": {
          "DeleteObject": {
            "Type": "Task",
            "Arguments": {
              "Bucket": "${deployment_bucket}",
              "Key": "{% $states.input.Key %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
            "End": true
          }
        }
      },
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:listObjectsV2",
        "Arguments": {
          "Bucket": "${deployment_bucket}",
          "Prefix": "common/data/model/com/nwm/prod/"
        },
        "ReaderConfig": {}
      },
      "Label": "S3objectkeys",
      "Output": {
        "success": true
      },
      "Next": "Move Apocalyptic Files"
    },
    "Move Apocalyptic Files": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "EXPRESS"
        },
        "StartAt": "CopyObject",
        "States": {
          "CopyObject": {
            "Type": "Task",
            "Arguments": {
              "Bucket": "${deployment_bucket}",
              "CopySource": "{% $join(['${deployment_bucket}', $states.input.Key], '/') %}",
              "Key": "{% $replace($states.input.Key, 'test_nwm_outputs', $now('common/data/model/com/nwm/prod/nwm.[Y0001][M01][D01]')) %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
            "End": true,
            "Output": {}
          }
        }
      },
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:listObjectsV2",
        "Arguments": {
          "Bucket": "${deployment_bucket}",
          "Prefix": "test_nwm_outputs/"
        },
        "ReaderConfig": {}
      },
      "Label": "S3objectkeys",
      "End": true,
      "Output": {
        "success": true
      }
    }
  }
}